@inherits ServiceStack.Razor.ViewPage
@{
  var thingIndex = AppHost.TryResolve<MediocreWeb.things.ThingIndex>();
  ViewBag.PageTitle = "Mediocresoft - Some Things of Mine";
}
<ul>
@foreach (var thing in thingIndex.AllTheThings) {
  <li><a href="@Url.Content("~/things/" + thing.ThingUri)">@thing.Title</a></li>
}
</ul>