<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Hide .html extensions like the cool kids do">
                    <match ignoreCase="true" url="^(.*)"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html"/>
                </rule>
                <rule name="Apply peer pressure away from .html " stopProcessing="true">
                    <match url="^(.*).html"/>
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).html"/>
                    </conditions>
                    <action type="Redirect" url="{R:1}"/>
                </rule>
                <rule name="Redirect old thing URLs">
                    <match ignoreCase="true" url="^things/(.*)"/>
                    <action type="Redirect" url="posts/{R:1}"/>
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".rss" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml" />
            <remove fileExtension=".atom" />
            <mimeMap fileExtension=".atom" mimeType="application/atom+xml" />
        </staticContent>
    </system.webServer>
</configuration>