table.fixedTable {
	table-layout: fixed;
	width: 100%;
	border: none;
	border-spacing: 0;
	padding: 0;
	vertical-align: top;
}
table.fixedTable td,table.fixedTable th {
	vertical-align: top;
}
.pagenav {
    margin-top: 0;
    margin-bottom: 0;
}
.pagenav .nav > li > a {
    padding-left: 10px;
}
.pagenav .nav .nav > li > a {
    padding-left: 20px;
}
.pagenav .nav .nav .nav > li > a {
    padding-left: 30px;
}
.pagenav .nav .nav {
    display: none;
}
.pagenav .nav .active .nav {
    display: block;
}
footer {
    padding-top: 20px;
    font-size: 85%;
}