@inherits ServiceStack.Razor.ViewPage
<p>
  In recent years I have found myself favoring darker themes for Visual Studio.
	The first dark theme I used was the <a href="http://www.nerdpad.com/visual-studio/visual-studio-2010-dark-expression-blend-color-theme">expression theme</a>.
	Since using the Dark theme in Visual Studio 2012 I have found it a bit easier to read while still being easy on the eyes and quite fashionable.
	While that is great I have recently only upgraded Visual Studio 2010 at work so I made a theme.
</p>
<h2>Visual Studio 2012 Dark Theme for 2010</h2>
<p>
  Because I will be using 2010 for a few years probably I took the time to port the 2012 look to 2010.
	I also included coloring for ReSharper too.
	It was a lot of tedious work  but I feel it was worth it as I will spend plenty of hours using the theme.
</p>
<div>
  <a href="http://github.com/aarondandy/vs-configs/tree/master/vs2010">
    <strong>Visual Studio 2012 Dark Fonts, Colors and Theme for 2010</strong>
  </a>
</div>
<h2>Example</h2>
<div>
  <a href="@Url.Content("~/things/garbage-file/2012-dark-for-2010-preview.jpg")" taget="_blank" >
    <img src="@Url.Content("~/things/garbage-file/2012-dark-for-2010-preview-thumb.jpg")" alt="theme preview"/>
  </a>
</div>
